<div class="about">
  <h2>Created By: Michael Connelly</h2>
  <p>This website is for anyone looking to improve their programming skills by completing challenges written by others.</p>
  <p>Search or filter above to find a challenge that's right for you.</p>
  <p>Feel free to post your own, no matter the difficulty!</p>
</div>
